.pageBanner_sec {
  background-color: #2a2824;
  padding-top: 140px;
}

.pageBanner_heading_sec {
  color: #f9d336;
  font-weight: 900;
  font-size: 36px;
}

.pageBanner_heading_sec .pageBanner_sub_text {
  color: #ffffff;
  font-weight: 500;
}

.banner_left_img {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.banner_left_img img {
  height: 100%;
}

.title_box {
  width: 98%;
  position: absolute;
  left: 1%;
  bottom: -56px;
  z-index: 1;
}

.pageTitleBox_sec {
  background-color: #2a2824;
  height: auto;
  border-radius: 75px;
}

.pageTitleBox_heading_sec {
  color: #22dce0;
  font-weight: 700;
  text-transform: uppercase;
  height: 100%;
  padding: 3rem 0rem;
}

.pageTitleBox_icon_sec {
  background-color: #3f484429;
  border-radius: 75px;
  height: 100%;
}

.pageTitleBox_icon_sec img {
  width: 38%;
}

.pageTitleBox_heading_sec h3 {
  font-size: 22px;
  font-weight: 500;
}

.container.title_box_width {
  width: 95%;
}

@media only screen and (min-width: 992px) {
  .pageBanner_heading_sec {
    font-size: 42px;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .banner_left_img {
    top: -49px !important;
  }
  .title_box {
    bottom: 4px !important;
  }
  .pageBanner_heading {
    text-align: center !important;
  }
  .pageBanner_sub_text {
    font-size: 14px !important;
  }
  .service_page_image_inner_sec .aboutus_imageBox {
    padding: 5rem 2rem 0rem 2rem !important;
  }
  .service_page_image_sec {
    height: auto;
  }
  .aboutus_why_aronsol {
    margin-top: 188rem !important;
  }
  .second_row_image {
    margin-left: 0px !important;
  }
  .about_why_aronsol_head, .aboutus_why_aronsole_text_div {
   display: none;
  }
  .service_page_image_inner_sec.aboutus_imageBox {
    padding: 6px !important;
  }
  .service_page_image_inner_sec.position-relative {
    padding: 6px !important;
    height: 644px;
  }

  .popular_blogs {
    margin-top: 36rem !important;
  }
}
